<div class="id-tag hvr-bounce-in" id="name-tag">
  <h2>Stefan Hartmann</h2>
    <h4>Web Developer</h4>
    <h4>Comedy Writer/Director</h4>
    <h6 id="trivia" class="hvr-buzz"><a href="http://www.nyctrivialeague.com/league/standings">Bar Trivia Enjoyer</a></h6>
</div>

<div id="views">
  <!-- <div class="portait">
    <img id="portrait-frame" src="img/oval.png"/>
  </div> -->

  <div id="dev-portfolio-link" class="id-tag hvr-bounce-in">
    <h2>Web Design Portfolio</h2>
  </div>

  <div id="writing-portfolio-link" class="id-tag hvr-bounce-in">
    <h2>Writing Portfolio</h2>
  </div>

  <div id="about-me-link" class="id-tag hvr-bounce-in">
    <h2>About Me</h2>
  </div>

  <div id="resume-link" class="id-tag hvr-bounce-in">
    <h2>Resume</h2>
  </div>

  <div id="contact-link" class="id-tag hvr-bounce-in">
    <h2>Contact Me</h2>
  </div>

</div>

<div id="dev-portfolio">
  <h4 id="recent-projects">Back.</h4>
  <h2>Recent Projects</h2>
  <ul class="projects-list">
    <li id="line-runner-master" class="hvr-underline-from-left project-title">lineRunner</li>
      <ul class="project-desc" id="line-runner-desc">
        <li>
          React/Redux app
          that allows users to upload text files, and uses a text-to-speech
          converter to convert them into audible dialogue.
        </li>
        <li><img class="dev-port-img" src="img/linerunner.png"/></li>
      </ul>
    <li id="trip-ed-master" class="hvr-underline-from-left project-title" style="width:2.5em;height:auto;">tripEd</li>
      <ul class="project-desc" id="triped-desc">
        <li>
          Rails app to streamline the field trip booking process for
          teachers
        </li>
        <li><a href="http://www.trip-ed.com"><img class="dev-port-img" src="img/triped.png"/></a></li>
      </ul>
    <li id="pet-tinder-master" class="hvr-underline-from-left project-title">Pet-Tinder</li>
      <ul class="project-desc" id="petinder-desc">
        <li>
          Tinder-parody app written in Express.js that geolocates users
          and finds adoptable pets nearby.
        </li>
        <li><a href="http://www.pet-tinder.com"><img class="dev-port-img" src="img/petinder.png"/></a></li>
      </ul>
    <li id="u-vote-master" class="hvr-underline-from-left project-title">U-Vote.org</li>
      <ul class="project-desc" id="u-vote-desc">
        <li>
          Sinatra app that drives youth voter registration by gamifying
          voter registration among universities.
        </li>
        <li><a href="http://www.u-vote.org"><img class="dev-port-img" src="img/uvote.png"/></a></li>
      </ul>
  </ul>
</div>

<div id="writing-portfolio">
  <h4 id="selected-works">Back.</h4>
  <h2>Selected Works</h2>
  <ul class="works-list">
    <li id="erin-master" class="hvr-underline-from-left-writing project-title">Erin Lockovitch</li>
      <ul class="project-desc" id="erin-desc">
        <li>
          A documentary about one man's journey to being stuck inside his inlaws' bathroom for an hour, and his discovery that the real bathroom is inside each of our hearts.
        </li>
        <p><a href="https://vimeo.com/193212724">Erin Lockovitch</a>.</p>
        <iframe src="https://player.vimeo.com/video/193212724" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </ul>
    <li id="outreach-master" class="hvr-underline-from-left-writing project-title">The Outreach</li>
      <ul class="project-desc" id="outreach-desc">
        <li>
          The Outreach is a webseries about street fundraisers,
          aka clipboard kids, and it picks up right after you
          blow them off.
        </li>
        <li id="episodes-trigger">Episodes</li>
          <ul id="episodes-list">
            <li>
              <p><a href="https://vimeo.com/100330760">The Outreach, Episode 1: Rational Self Interest</a>.</p>
              <iframe src="https://player.vimeo.com/video/100330760" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li>
            <li>
              <p><a href="https://vimeo.com/127560550">The Outreach, Episode 2: The Invisible Fist of the Free Market</a>.</p>
              <iframe src="https://player.vimeo.com/video/127560550" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li>
            <li>
              <p><a href="https://vimeo.com/128115773">The Outreach, Episode 3: Snitches Get Riches</a>.</p>
              <iframe src="https://player.vimeo.com/video/128115773" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li>
            <li>
              <p><a href="https://vimeo.com/128847620">The Outreach, Episode 4: Warriors of Change</a>.</p>
              <iframe src="https://player.vimeo.com/video/128847620" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li>
            <li>
              <p><a href="https://vimeo.com/129744952">The Outreach, Episode 5: Smiles for Stephanie</a>.</p>
              <iframe src="https://player.vimeo.com/video/129744952" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li>
            <li>
              <p><a href="https://vimeo.com/130559203">The Outreach, Episode 6: A Rocketship Ride to the Top</a>.</p>
              <iframe src="https://player.vimeo.com/video/130559203" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li>
          </ul>
      </ul>
    <li id="nick-master" class="hvr-underline-from-left-writing project-title">Nickelodeon Digital Shorts</li>
      <ul class="project-desc" id="nick-desc">
        <li>
          Selected original digital shorts, written for Nick.com.
        </li>
        <li id="shorts-trigger">View shorts</li>
          <ul id="shorts-list">
            <li>
              <a href="http://www.nick.com/videos/clip/digital-short-spongebob-squarepants-viral-jellyfishin-impossible.html">
              Jellyfishin' Impossible
              </a>
            </li>
            <li>
              <a href="http://www.nick.com/videos/clip/digital-short-spongebob-squarepants-viral-jellyfishin-impossible.html">
                <img src="../img/jellyfish1.png" width="320" height="180"/>
              </a>
            </li>
            </li>
            <li>
              <a href="http://www.nick.com/videos/clip/digital-short-spongebob-squarepants-parody-jellyfishin-impossible-2.html">Jellyfishin' Impossible 2: Electric Jellyfish
              <img src="../img/jellyfish2.png" width="320" height="180"/></a>
            </li>
            <li>
              <p><a href="https://vimeo.com/77100876">Legend of Korra: Naga Attack Ad</a> from <a href="https://vimeo.com/stefanhartmann">Stefan Hartmann</a>.</p>
              <iframe src="https://player.vimeo.com/video/77100876" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li>
            <li>
              <p><a href="https://vimeo.com/77100877">Legend of Korra: Pabu Attack Ad</a> from <a href="https://vimeo.com/stefanhartmann">Stefan Hartmann</a>.</p>
              <iframe src="https://player.vimeo.com/video/77100877" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li>
          </ul>
      </ul>
  </ul>
</div>

<div id="about-me">
  <h4 id="about-me-h2">Back.</h4>
  <h2>Stefan Hartmann:</h2>
  <ul class="projects-list">
    <li>Web developer.</li>
    <li>Lives in NYC, NY.</li>
    <li>Enjoys:</li>
      <ul id="about-me-list">
        <li id="dev-shortcut">-Writing code.</li>
        <li id="writing-shortcut">-Writing comedy.</li>
        <li><a href="https://en.wikipedia.org/wiki/Rule_of_three_(writing)">-Thinking of a third, funny item in lists.</a></li>
      </ul>
  </ul>
</div>

<div id="contact-me">
  <h4 id="contact-me-h2">Back.</h4>
  <h2>Contact Me</h2>
  <ul class="projects-list">
    <li><a href="mailto:stefanhartmann@gmail.com"><img class="icon" src="./img/email-512.png"/></a></li>
    <li><a href="https://github.com/schmartmann"><img class="icon" src="./img/github-256.png"/></a></li>
    <li><a href="https://www.linkedin.com/in/schmartmann00"><img class="icon" src="./img/bw-linkedin.png"></a></li>
  </ul>
</div>
