<!doctype html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Alegreya|Oswald" rel="stylesheet">
  <link href="css/hover.css" rel="stylesheet" media="all">
  <meta property="og:image" content="../public/img/ogimage.png" />
  <meta property="og:description" content="Personal portfolio for Stefan Hartmann: Writer / Web Developer." />
  <meta property="og:url"content="http://www.schmartmann.com" />
  <meta property="og:title" content="Stefan Hartmann: Writer / Web Developer" />
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
